.footer
{
    margin: 0 !important;
    background: #3c0000;
    padding: 4rem 0;

    display: flex;
    flex-wrap: wrap;
    @include respond(phone){text-align: center;}

    &__left
    {
        margin-left: 7rem;
        @include respond(tab-port){margin-left:5rem ;}
        margin-right: auto;
        margin-top: -1.7rem;

        @include respond(tab-port){margin-top: -2.3rem;}
        @include respond(phone)
        {
            margin-right: 0 !important; 
            flex: 100%; 
            margin-bottom: 2rem;
            margin-left: 0;
        }
    }
    &__image--container
    {
        margin-bottom: 2rem;
        &>*:first-child{margin-right: 2rem;}

        @include respond(tab-port){margin-bottom: 1.6rem;}
    }
    &__copy
    {
        color: $color-gray-light-3;
        font-size: 1.2rem;
        line-height: 200%;
        letter-spacing: 1px;

        @include respond(tab-port){font-size: 1.1rem;}
    }
    &__list--container
    {
        &:not(:last-of-type)
        {
            margin-right: 2rem;
            @include respond(tab-port){margin-right: 1.6rem;}
        }
        &:last-of-type
        {
            margin-right: 7rem;
            @include respond(tab-port){margin-right:5rem ;}
        }
        @include respond(phone)
        {
            margin-right: 0 !important; 
            flex: 100%;
            &:not(:last-of-type){margin-bottom: 2rem;}
        }
    }
    &__list--header
    {
        font-size: 1.6rem;
        color: $color-white;
        font-weight: 600;
        margin-bottom: 1rem;

        @include respond(tab-port){font-size: 1.5rem;}
    }
    &__list
    {
        list-style: none;
    }
    &__item
    {
        &:not(:last-of-type)
        {
            margin-bottom: 1.5rem;
            @include respond(tab-port){margin-bottom: 1.4rem;}
        }
    }
    &__link
    {
        color: $color-gray-light-3;
        font-size: 1.2rem;
        transition: all .2s ease-in-out;

        &:hover, &:active{color: $color-primary;}
    }
}