.cart 
{
    margin-top: 7rem;

    hr{margin: 2rem 0;}
    &__item
    {
        display: flex;
        align-items: center;

        @include respond(phone){flex-wrap: wrap;}
        &--photo
        {
            width: 25rem;
            height: 20rem;
            border-radius: 50%;
            margin-right: 3rem;

            @include respond(tab-land){height: 16rem;width: 23rem;}
            @include respond(tab-port){height: 16rem;width: 30rem !important;}
            @include respond(phone){width: 20rem !important;}
        }
        &--details
        {

            display: flex;
            // flex-wrap: wrap;
            gap: 2rem;

            @include respond(tab-port)
            {
                flex-wrap: wrap;
                
                &>*:not(:first-child){margin-bottom: 3rem;}
            }
        }
        .cart__item--details-item-1
        {
            margin-right: auto;
            .cart__item--value
            {
                width: 70%;
                @include respond(phone){width: 100% !important;}
            }
            @include respond(tab-port){width: 100%;}
            @include respond(tab-port){margin-right: 0;}
            
        }
        &--key
        {
            font-size: 2.5rem;
            font-weight: 500;
        }
        &--value
        {
            font-size: 1.5rem;
        }
    }

    &__total
    {
        margin: 3rem 0;

        @include respond(tab-port)
        {
            margin: 2rem 0;
        }

        & > * 
        {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            & > *:not(:last-child){margin-right: 2rem;}
        }
        & > *:not(:last-child)
        {
            margin-bottom: 3rem;
        
            @include respond(tab-port)
            {
                margin-bottom: 2rem;
            }
        }
        &__typo
        {
            &--text
            {
                font-size: 2.5rem;
                text-transform: uppercase;
                color: $color-gray-dark-2;

                @include respond(tab-port)
                {
                    font-size: 2rem;
                }
            }
            &--value
            {
                font-size: 2.5rem;
                font-weight: 700;
                color: $color-primary;
                
                @include respond(tab-port)
                {
                    font-size: 2rem;
                }
            }
        }
        &--buttons
        {
            & > * {cursor: pointer;}
            .cart__checkout--js{padding: .5rem 3rem;border-radius: 1.5rem;}
        }
    }
}
