.header
{
    background-image: linear-gradient(to right, rgba($color-black, .5), rgba($color-black, .4)),
                        url('../img/header.jfif');
    background-position: center;
    background-size: cover;
    height: 60vh;
    margin-top: 7rem;

    color: $color-white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include respond(phone){height: 50vh;}
}

.section__top
{   
    margin-top: 7rem;   
    background: $color-gray-light-1;
    margin-left: 0;
    margin-right: 0;

    & > *{margin: 0 7rem;}
    & > *
    {
        @include respond(tab-port){margin: 0 5rem ;}
    }
}