// .header
// {
//     box-shadow: $shadow-light;
//     background-color: $color-white;
//     width: 100%;
//     height: 5rem;

//     display: flex;
//     align-items: center;
//     justify-content: space-between;

//     & > *:not(:last-child)
//     {
//         margin-right: 2.5rem;
//     }

//     .logo
//     {
//         width: 8rem;
//         height: 5rem;
//         display: inline-block;
//         cursor: pointer;
//     }

//     &__tutorials
//     {
//         text-decoration: none;
//         font-size: 1.4rem;
//         color: inherit;

//         &:hover{color: $color-grey-dark-2;}
//     }

//     &__main--profile
//     {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         &-link
//         {
//             text-decoration: none;
//             color: inherit;

//             &-1
//             {
//                 position: relative;
//             }

//             &-search
//             {
//                 position: absolute;
//                 top: 6rem;
//                 right: 7.5rem;
//                 display: none;

//                 @include respond(tab-land)
//                 {
//                     top: 5.5rem;
//                     right: 5rem;
//                 }
//             }
            
//         }
//         &-likes
//         {
//             height: 2.5rem;
//             width: 2.5rem;
//             cursor: pointer;
//             transition: all .2s ease-in-out;

//             &:hover{fill: $color-primary;}
//         }

//         & > *:not(:last-child){margin-right: 3rem;}
        
        
//     }

//     &__hide{display: none;}
// }


// .section__logo
// {
//     margin-top: 8rem;
//     margin-bottom: 8rem;
//     min-height: 40vh;
//     border-radius: 6px;
//     overflow: hidden;
//     padding: 5rem 0;

//     & > * {margin-bottom: 1.7rem;}
//     & > *:not(:first-child){padding-left: 2rem;}


//     @include respond(tab-land)
//     {
//         margin-top: 5rem;
//         margin-bottom: 5rem;
//     }
// }

// .top__cat, .our__products
// {
//     // margin-top:2rem;

//     // .center_button{text-align: center;}
    
//     .see__more__button
//     {
//         padding: 1.2rem 6rem;
//     }

//     // @include respond(tab-land)
//     // {
//     //     margin-top:1.5rem;
//     // }
// }
// .top__cat .col-1-of-4{box-shadow: none;}

// .best__selling-page
// {
//     margin-top: 4rem;

//     .filter__container
//     {
//         margin-bottom: 5rem;

//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         .search
//         {
//             flex: 0 1 80% ;
//             &__input
//             {
//                 width: 100%;
//                 margin-right: 0;
//             }
//             &__button
//             {
//                 margin-left: -4rem;
//             }
//             @include respond(tab-land)
//             {
//                 flex: 0 1 75%;
//             }
//         }
//         .btn
//         {
//             padding: .5rem 5rem;
//         }
//     }

//     .page__no__container
//     {
//         margin: 0 2rem 4rem 6rem;

//         display: flex;
//         justify-content: space-evenly;

//         a
//         {
//             text-decoration: none;
//             color: $color-primary;
//             transition: all .2s ease-in-out;

//             &:hover{transform: translateY(-2px);}
//             &:active, &:visited{transform: translateY(0);}

//             &:first-of-type
//             {
//                 .page__move{padding: .5rem 4.5rem .5rem 2rem }
//             }
//             &:last-of-type
//             {
//                 .page__move{padding: .5rem 2rem .5rem 4.5rem}
//             }
//         }
//         .page__move
//         {
//             background: $color-secondary-light;
//             color: $color-primary;
//             border-radius: 20px;
//             box-shadow: 0 .4rem 3rem rgba(0,0,0, .2);
//             font-size: 1.8rem;
//             font-weight: 700;

//             display: flex;
//             justify-content: space-evenly;
//             align-items: center;

//             @include respond(tab-port)
//             {
//                 font-size: 1.5rem;
//             }

//             &--icon
//             {
//                 height: 4rem;
//                 width: 4rem;
//                 fill: $color-primary;

//                 @include respond(tab-port)
//                 {
//                     height: 2.5rem;
//                     width: 2.5rem;
//                 }
//             }
//             &--num
//             {
//                 margin-top: -5px;

//                 @include respond(phone){margin-top: -2px;}
//             }
//         }
//     }
// }

// .paggination
// {
//     text-align: center;

//     display: flex;
//     justify-content: center;
//     align-items: center;
    
//     & > *:not(:last-child)
//     {
//         margin-right: 4rem;
//     }
//     &__btn
//     {
//         height: 4rem;
//         width: 10rem;
//         border: none;
//         background: #180A0A;
//         border-radius: 1rem;
//         cursor: pointer;

//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
//     &__svg
//     {
//         width: 3rem;
//         height: 3rem;
//         fill: $color-primary;
//         // z-index: 1000000;
//     }
//     &__number
//     {
//         color: $color-primary;
//         font-size: 1.6rem;
//     }
// }













// // related to index.html >>>> top categories
// .story{

//     height: 20rem;
//     border-radius: 3px;
//     box-shadow: 0 3rem 6rem rgba($color-black, .1);
//     font-size: $default-font-size;
//     overflow: hidden;

//     &__shape
//     {
//         margin: 0 auto;
//         width: 100%;
//         height: 100%;
//         position: relative;
//         border-radius: 50%;

//     }
//     &__img
//     {
//         width: 100%;
//         height: 100%;
//         transform: scale(1.2);
//         transition: all .5s;
//     }
//     &__caption
//     {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, 20%);
//         color: $color-white;
//         text-transform: uppercase;
//         font-size: 1.7rem;
//         text-align: center;
//         opacity: 0;
//         transition: all .5s;
//         backface-visibility: hidden; // to avoid the caption shaking at the end of the translate
//     }
//     &:hover &__caption
//     {
//         opacity: 1;
//         transform: translate(-50%, -50%);
//     }
//     &:hover &__img
//     {
//         transform: scale(1);
//         filter: blur(3px) brightness(80%);       // below 100% makes it darker, above 100% makes it brighter
//     }

// }

















// .out__products--load-more-js,
// .card__cart--container--btn,
// .our__products--product-card,
// .card__cart--container--svg,
// .category--index-js,
// .header__search--js,
// .filter__container--link
// {cursor: pointer;}