
$color-primary: #d94141;
$color-primary-light: #e47a7a;
$color-primary-dark: #b22424;

$color-secondary-light: #162f4e;
$color-secondary: #0B1726;
$color-secondary-dark: #070f19;

$shadow-dark: 0 2rem 6rem rgba(0,0,0, .4);
$shadow-light: 0 2rem 5rem rgba(0,0,0, .05);


$color-gray-dark-1: #333;
$color-gray-dark-2: #777;
$color-gray-dark-3: #999;


$color-gray-light-1: #faf9f9;
$color-gray-light-2: #f4f2f2;
$color-gray-light-3: #ccc;

$color-white: #fff;
$color-black: #000;

$shadow-red: 0 .2rem .35rem rgba($color-primary, .9);

// Social media
$color-facebook: #255592;
$color-google: #3F7BE1;

$color-review: #F7FF00;

$footer-color: #180A0A;
$footer-color-text:#DEDDDD;